section.download
  .container.download-container
    .download-content
      h2.heading.download-heading Download our mobile apps
      p.caption.download-caption Our dedicated patient engagement app and web portal allow you to access information instantaneously (no tedeous form, long calls, or administrative hassle) and securely
      a.button(href="#!")
        span Download
        i.fa-solid.fa-arrow-down-long
    .download-image
      img(src="./images/illustration_2.png", alt="illustration")