section.leading
  .container.leading-container
    .leading-image
      img(src="./images/illustration_1.png", alt="illustration")
    .leading-content
      h2.heading.leading-heading Leading healthcare providers
      p.caption.leading-caption Trafalgar provides progressive, and affordable healthcare, accessible on mobile and online for everyone. To us, it’s not just work. We take pride in the solutions we deliver
      a.button.leading-button(href="#!") Learn more
