section.testimonials
  .container.testimonials-container
    .testimonials-wrapper-content
      img.testimonials-element-1(src="./images/Group.png", alt="Group")
      img.testimonials-element-2(src="./images/element_1.png", alt="Element")
      .testimonials-content
        h2.heading.testimonials-heading What our customer are saying
        .testimonials-wrapper-author
          .testimonials-author
            .testimonials-author-image
              img(src="./images/author.png", alt="author")
            .testimonials-author-content
              h3.heading.testimonials-author-name Edward Newgate
              span.caption.testimonials-author-bio Founder Circle
          p.testimonials-author-caption “Our dedicated patient engagement app and web portal allow you to access information instantaneously (no tedeous form, long calls, <br> or administrative hassle) and securely”
    img.testimonials-arrow-nav(src="./images/arrow-nav.png", alt="arrow-nav")